@use '../abstracts';

.meta-list {
  display: grid;
  gap: 2rem;

  @container (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  @container (max-width: 450px) {
    grid-template-columns: 1fr !important;
  }
}

.meta-item {
  display: flex;
  flex-flow: column nowrap;
  padding-top: .5rem;
  border-top: solid 1px abstracts.$color-border;
  min-width: 150px;
  &.span-2 {
    grid-column: span 2;
  }
  &.span-3 {
    grid-column: span 3;
  }
  @container (max-width: 900px) {
    &.span-2, &.span-3  {
      grid-column: span 2 !important;
    }
  }
  @container (max-width: 450px) {
    &.span-2, &.span-3  {
      grid-column: span 1 !important;
    }
  }


  a {
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}


