@use '../abstracts';

.meta-list {
  display: grid;
  gap: 2rem;
  &.two-column {
    grid-template-columns: repeat(2, 1fr);
  }
}

.meta-item {
  display: flex;
  flex-flow: column nowrap;
  padding-top: .5rem;
  border-top: solid 1px abstracts.$color-border;
  min-width: 150px;
  a {
    &::after {
      background-color: abstracts.$taxonomy-link-border-color;
    }
    &::before {
      background-color: abstracts.$link-baseline-border-color;
    }
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}


