@use '../abstracts';

.timeline {
  position: relative;
  width: 100%;
  margin: 2rem 0 5rem 0;
  padding: 0 2rem;
  &__track {
    position: relative;

  }
  &__track--path {
    position: relative;
    height: 2px;
    background: abstracts.$color-border;
    border-radius: 2px;
    overflow: visible;
  }

  &__progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background: abstracts.$accent-color;
    width: 0;
    animation: fill-progress 0.8s ease forwards;
    animation-delay: 200ms;
    z-index: 1;

  }

  @keyframes fill-progress {
    to {
      width: var(--progress-end);
    }
  }



  &__plip {
    position: absolute;
    top: -9px;
    transform: translateX(-50%);
    z-index: 2;
    transition: background-color 200ms ease;

    .plip-circle {
      width: 20px;
      height: 20px;
      background: abstracts.$color-white;
      border: solid 4px abstracts.$bg-card;
      overflow: hidden;
      border-radius: 50%;
      z-index: 2;
      transition: background-color 200ms ease;
      opacity: 0;
      transform: translateY(10px);
      animation: fadeInUp 0.4s ease forwards;
      animation-delay: calc(var(--plip-left) * 10ms);

    }
    .tooltip-container .plip-circle {
      //position: relative; // required to position pulse inside
      z-index: 2;
      .pulse-ring {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        background: abstracts.$accent-color;
        opacity: 0.3;
        z-index: 1;
        animation: pulse-ring 2s ease-out infinite;
      }


    }
    @keyframes pulse-ring {
      0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
      }
      25% {
        transform: translate(-50%, -50%) scale(1.6);
        opacity: 0.5;
      }
      50% {
        transform: translate(-50%, -50%) scale(1.6);
        opacity: 0;
      }
      100% {
        transform: translate(-50%, -50%) scale(1.6);
        opacity: 0;
      }
    }

    .timeline__label {
      position: absolute;
      top: 30px;
      left: 50%;
      font-size: 0.75rem;
      color: #ccc;
      z-index: 3;
      text-align: center;
      max-width: 100px;
      white-space: normal;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      opacity: 0;
      transform: translateY(10px) translateX(-50%);
      animation: fadeInUpOffset 0.4s ease forwards;
      animation-delay: calc(var(--plip-left) * 10ms);
    }

    &--current {
      z-index: 1;

      .plip-circle {
        background: abstracts.$accent-color;
      }
      .timeline__label {
        top: unset !important;
        bottom: 30px;
        color: abstracts.$accent-color;
      }
    }

    .tooltip-container.tooltip--top .tooltip-text {
      transform: translateY(10px) translateX(0);

    }

    &:hover {

      z-index: 2;
      .plip-circle {
        border-color: abstracts.$accent-color;
      }
      .tooltip-container.tooltip--top .tooltip-text {
        pointer-events: auto;
        animation: fadeInUp 0.4s ease forwards;


      }
      .timeline__label {
        color: abstracts.$accent-color;
      }
    }
    &--left {
      .tooltip-container.tooltip--top .tooltip-text {
        left: 0 !important;
      }
    }
    &--right {
      .tooltip-container.tooltip--top .tooltip-text {
        right: 0 !important;
        left: unset !important;
        transform: translateY(10px) translateX(0);

      }

    }
    &--center {
      .tooltip-container.tooltip--top .tooltip-text {
        left: 50%;
        transform: translateY(10px) translateX(-50%);

      }
      &:hover {
        .tooltip-container.tooltip--top .tooltip-text {
          animation: fadeInUpOffset 0.4s ease forwards;


        }

      }
    }
  }
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeInUpOffset {
    to {
      opacity: 1;
      transform: translateY(0) translateX(-50%);
    }
  }




  @container (max-width: 450px) {
    padding: 0;
    &__track {
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      gap: 2rem;
    }
    &__track--path {
      display: none;
    }


    &__progress {
      width: 2px !important;
      height: 100%;
      background: abstracts.$color-border;
      position: absolute;
      top: 0;
      left: 10px;
      transform: translateX(-50%);
      z-index: 1;
    }

    &__plip, &__plip--current {
      position: relative !important; // key: relative to the flow of the flex column
      top: unset !important;
      left: unset !important;
      transform: none !important;
      display: flex;
      flex-flow: column nowrap;
      padding: 0.1rem 0 0 2rem;
      .plip-circle {
        position: absolute;
        top: 0;
        left: 0;

      }
      &--current {
        .plip-circle {
          background-color: abstracts.$accent-color;
        }

        .timeline__label {
          color: abstracts.$accent-color;
          bottom: unset !important;
        }
      }
      &:hover .tooltip-text {
        color: abstracts.$accent-color;
      }
      .timeline__label {
        position: relative;
        top: unset !important;
        left: unset !important;
        transform: none !important;
        max-width: unset !important;
        text-align: left;


      }
      .tooltip-container {
        position: unset;
        .plip-circle {
          top: 4px !important;
        }
      }
      .tooltip-text {
        position: relative !important;
        top: unset !important;
        left: unset !important;
        bottom: unset !important;
        transform: none !important;
        opacity: 1 !important; // Always visible
        pointer-events: auto !important; // Always interactive
        padding: 0 !important;
        background: none !important;
        color: abstracts.$text-body;
        border: none !important;
        font-size: 0.75rem;
        display: block;
        white-space: normal;

        &::after {
          display: none;
        }
      }
    }
  }
}
