@use '../abstracts';

.tooltip-container {
  position: relative;
  display: inline-block;
  &::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    width: 60px; // 20 + 20 + plip (20px)
    height: 60px;
    z-index: 1;
    pointer-events: auto;
  }
  .tooltip-text {
    position: absolute;
    background: abstracts.$bg-card;
    color: abstracts.$text-body;
    font-size: 0.75rem;
    padding: 0.4rem 0.6rem;
    border-radius: 4px;
    border: 1px solid abstracts.$color-border;
    white-space: nowrap;
    pointer-events: none;
    transition: opacity, color 200ms ease;
    z-index: 10;

  }

  &:hover .tooltip-text {
    opacity: 1;
    pointer-events: auto;
    animation: fadeInUpOffset 0.4s ease forwards;

  }

  &.tooltip--top .tooltip-text {
    bottom: 100%;
    left: 50%;
    margin-bottom: 0.5rem;
    opacity: 0;

    transform: translateY(10px) translateX(-50%);
    animation-delay: calc(var(--plip-left) * 10ms);

  }

  &.tooltip--bottom .tooltip-text {
    top: 100%;
    left: 50%;
    margin-top: 0.5rem;
    opacity: 0;

    transform: translateY(10px) translateX(-50%);
    animation-delay: calc(var(--plip-left) * 10ms);

  }

  // Add similar blocks for `tooltip--bottom`, `--left`, `--right`...
}

.is-visible .tooltip-text {
  opacity: 1 !important;
  pointer-events: auto !important;
}



//@keyframes fadeInUpOffset {
//  to {
//    opacity: 1;
//    transform: translateY(0);
//  }
//}
