@use '../abstracts';
@use '../components';

.entity-grid {
  display: grid;
  grid-template-columns: 300px 3fr;
  gap: abstracts.$desktop-gap;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.entity-sidebar {
  @extend .card;
  display: grid;
  gap: 1rem;
  &__image {
    margin-bottom: 1rem;
  }

}

.entity-content {
  @extend .card;
  display: grid;
  gap: 2rem;
  container-type: inline-size;
}

.entity-section {
  display: grid;
  gap: 3rem;
}

