@use '../abstracts';


body {
  font-family: abstracts.$font-sans;
  color: abstracts.$text-body;
  font-weight: 300;
}

a {
  color: abstracts.$color-accent;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

